node_modules/

*.log
.DS_Store
dist/
build/
coverage/
.nyc_output/
.env
.env.bak
.env.local
.env*
/generated/prisma
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/workspace.json
backend/tests/integration/models/PlatformAdmin.test.js
